@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Это действие отключает только двух факторную аунтификацию.</strong>
    </p>
    <p>
        Отключение двух факторной аунтификации не приводит к изменению ключей, используемых в приложениях для проверки подлинности. Если вы хотите изменить ключ
        используемый в приложении для проверки подлинности, вы должны <a asp-page="./ResetAuthenticator">сбросьте ваши ключи аутентификации.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Отключить двух факторной аунтификации</button>
    </form>
</div>
