@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Спрячьте эти коды в надежное место.</strong>
    </p>
    <p>
        Если вы потеряете свое устройство и у вас не будет кодов восстановления, вы потеряете доступ к своей учетной записи.
    </p>
    <p>
        Генерация новых кодов восстановления не изменяет ключи, используемые в приложениях для проверки подлинности. Если вы хотите изменить ключ
        используемый в приложении для проверки подлинности, вы должны <a asp-page="./ResetAuthenticator">сбросить ваши ключи аутентификации.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Генерировать коды восстановления</button>
    </form>
</div>
